<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ec.edu.epn.snai">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".Controlador.Activity.VerInfoTallerActivity"
                android:label="@string/title_activity_ver_info_taller"
                android:screenOrientation="landscape"/>
        <activity android:name=".Controlador.Activity.EditarActividadTallerActivity"
                  android:screenOrientation="landscape"/>
        <activity android:name=".Controlador.Activity.EditarTallerActivity"
                  android:label="Editar Taller"
                  android:screenOrientation="landscape"/>
        <activity android:name=".Controlador.Activity.VerInformeActivity"
                  android:screenOrientation="landscape"/>
        <activity android:name=".Controlador.Activity.EditarRegistroAsistenciaActivity"
                  android:screenOrientation="landscape"/>
        <activity android:name=".Controlador.Activity.EditarRegistroFotograficoActivity"
                  android:screenOrientation="landscape"/>


        <activity android:name=".Controlador.Activity.AgregarInformeActivity"
                  android:label="Informe"
                  android:screenOrientation="landscape"/>
        <activity android:name=".Controlador.Activity.AgregarRegistroAsistenciaActivity"
                  android:label="Registro Asistencia"
                  android:screenOrientation="landscape"/>
        <activity android:name=".Controlador.Activity.AgregarRegistroFotograficoActivity"
                  android:label="Registro Fotográfico"
                  android:screenOrientation="landscape"/>

        <activity android:name=".Controlador.Activity.VerEditarInformeActivity"
                  android:screenOrientation="landscape"/>
        <activity
                android:name=".Controlador.Activity.CrearTallerActivity"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".Controlador.Activity.EditarInformeAgregarActivity"
                android:label="Agregar Informe"/>
        <activity
                android:name=".Controlador.Activity.MainActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".Controlador.Activity.LoginActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>